<ion-content>
    <div id="container">
        <h1 style="text-align: center;">YouTube Channel...</h1><br>
        <ion-input #channelName type="text" placeholder="Enter channel name"></ion-input>
        <br>
        <ion-button full shape="round" style="width: 80%; padding-left: 50px;" (click)="getData()">Get channels</ion-button>
        <br>
        <ion-list *ngFor="let channel of channels">
            <ion-item>
                {{channel.snippet.channelTitle}}
                <ion-thumbnail slot="start">
                    <a href="https://www.youtube.com/channel/">
                        <img src="{{channel.snippet.thumbnails.medium.url}}" alt="" style="object-fit: cover;">
                    </a>

                </ion-thumbnail>
            </ion-item>
        </ion-list>
    </div>
</ion-content>