<ion-content>
    <div id="main">
        <div id="container">
            <h1 style="text-align: center;">YouTube Channel...</h1><br>
            <ion-item>
                <label for="channelName" style="text-align: left;">Channel Name:</label>
            </ion-item>
            <ion-item>
                <ion-input #channelName type="text" placeholder="Search by channel name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-button full shape="round" style="width: 80%; padding-left: 50px;" (click)="getData()">Get channels</ion-button>
            </ion-item>
            <br><br>
        </div>
        <div id="content">
            <ion-list *ngFor="let channel of channels">
                <ion-item>
                    {{channel.snippet.channelTitle}}
                    <ion-thumbnail slot="start">
                        <a href="https://www.youtube.com/channel/">
                            <img src="{{channel.snippet.thumbnails.medium.url}}" alt="" style="object-fit: cover;">
                        </a>

                    </ion-thumbnail>
                </ion-item>
            </ion-list>
        </div>

    </div>



</ion-content>